<div class="ui large attached stackable menu">
	<div class="ui container">
		<div class="header item">
			OnSight
		</div>
		<div class="right menu">
			<a class="item">
				مدیریت کاربران
				<i class="users icon"></i>
			</a>
			<div class="item">
				{{currUser?.username}}
			</div>
			<div class="item">
				<a class="ui button" routerLink="/logout">خروج</a>
			</div>
		</div>
	</div>
</div>

<div class="ui container">
	<div class="ui cards">
		<div *ngFor="let user of unconfirmedUsers" class="card">
			<div class="content">
				<div class="header">
					{{user.name}} {{user.family}}
				</div>
				<div class="meta left aligned" dir="ltr">
					@{{user.username}}
				</div>
			</div>
			<div class="extra content">
				<div class="ui three buttons">
					<div class="ui button" (click)="rejectUser(user.username)">رد</div>
					<div class="ui positive button" (click)="acceptUser(user.username,false)">قبول</div>
					<div class="ui primary button" (click)="acceptUser(user.username,true)">ادمین</div>
				</div>
			</div>
		</div>
	</div>
</div>
