<div class="ui large attached stackable menu">
	<div class="ui container">
		<div class="header item">
			OnSight
		</div>
		<div class="right menu">
			<a class="item">
				مدیریت کاربران
				<i class="users icon"></i>
			</a>
			<div class="item">
				<div class="ui button" (click)="logout()">خروج</div>
			</div>
		</div>
	</div>
</div>

<div class="ui container">
	<div class="ui cards">
		<div *ngFor="let user of unconfirmedUsers | async" class="card">
			<div class="content">
				<div class="header">
					{{user.name}} {{user.family}}
				</div>
				<div class="meta left aligned" dir="ltr">
					@{{user.username}}
				</div>
			</div>
			<div class="extra content">
				<div class="ui two buttons">
					<div class="ui button" (click)="rejectUser(user)">رد</div>
					<div class="ui positive button">قبول</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('.ui.accordion')
		.accordion()
	;
</script>
